

/* MAXIMIZE CSS EDITOR: trigger button */
 
.cs-toggle-csseditor-position {    margin-left: 20px;margin-top:10px;margin-bottom: 10px !important;margin-left:127px !important 	 }
.cs-toggle-csseditor-position:hover {  cursor: pointer}
 

/* MAXIMIZE CSS EDITOR: enlarge the editor */
.picowind-maximize-editor { position: fixed;  left:0;  top: 45vh;bottom:0;height: auto}
.picowind-maximize-editor .CodeMirror-wrap {border-top: 3px solid #888;}


/* HIDE FONT COMBINATIONS BY DEFAULT */
#cs-font-combi {display: none;}

/* FOOTER TEXT / HEADER / FOOTER / TEXTAREAS */

#_customize-input-picowind_footer_text, #_customize-input-picowind_header_code, #_customize-input-picowind_footer_code {
  height: 200px;
  font-size: 12px;
}

/* VIDEO TUTORIAL LINKS  */
.video-tutorial-link {
    display: block;
    font-size: 11px;
    position: absolute;
    top: 9px;
    right: 11px;
}

.video-tutorial-link:hover {
  color:red
}

.video-tutorial-link:focus {
  box-shadow: none;
}

/* EXTRA CUSTOMIZER ACTIONS   */

 .pico-extra-customizer-actions-wrap  {
    display: flex;
    gap: 5px;
    margin-bottom: 11px;
 }

/* TOOLBAR TO RESET, DOWNLOAD, UPLOAD */
#bs-tools {
  margin:10px 0 20px 5px;
  background:#fff;
  padding:10px 5px;
  display:block
}

#bs-tools span {
  display:block;margin-bottom:2px;
}

#bs-tools a {
  display:inline-block; margin:0 5px 0 0;
}


/* DISABLED INPUTS */

#_customize-input-picowind_header_navbar_disabled,
#_customize-input-picowind_footer_disabled {
    display: none;
}


/* FONT CODE IMPORT TEXTAREAS */

#_customize-input-picowind_body_font_loading_snippet,
#_customize-input-picowind_headings_font_loading_snippet {
    pointer-events: none;
    opacity: 0.5;
    font-family: 'Courier New', Courier, monospace;
    font-size:10px;
}    

/* FONT HEADER CODE TEXTAREA */

#_customize-input-picowind_fonts_header_code {
  min-height: 250px;
  font-size: 12px; 
  font-family: 'Courier New', Courier, monospace;
}

/* FONT OBJECT HIDDEN SETTINGS */
 
#customize-control-body_font_object,
#customize-control-headings_font_object { 
    opacity: 0.5;
}

#customize-control-body_font_object textarea,
#customize-control-headings_font_object textarea {
    pointer-events: none;
 
    font-family: 'Courier New', Courier, monospace;
    font-size:8px;
}
 
 